<p id="notice"><%= notice %></p>

<h1>Payment Terms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payment_terms.each do |payment_term| %>
      <tr>
        <td><%= payment_term.name %></td>
        <td><%= payment_term.description %></td>
        <td><%= link_to 'Show', payment_term %></td>
        <td><%= link_to 'Edit', edit_payment_term_path(payment_term) %></td>
        <td><%= link_to 'Destroy', payment_term, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment Term', new_payment_term_path %>
