<%= form_with(model: invoice) do |form| %> <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from
        being saved:
      </h2>
      <ul>
        <% invoice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="space-y-12">
    <h2 class="font-bold text-2xl">New Invoice <span class="text-red-500">UNIQUE LABEL UPDATED NEEDED</span></h2>
    <div class="space-y-6">
      <h3 class="text-purple-600 font-bold">Bill From</h3>
      <%= form.fields_for :sender_address do |addr| %>
        <%= render partial: 'addresses/form', locals:{ form: addr } %>
      <% end %>
    </div>
    <div class="space-y-6">
      <h3 class="text-purple-600 font-bold">Bill To</h3>
      <div class="field">
        <%= form.label :client_name %>
        <%= form.text_field :client_name %>
      </div>
      <div class="field">
        <%= form.label :client_email %>
        <%= form.email_field :client_email %>
      </div>
      <%= form.fields_for :client_address do |addr| %>
        <%= render partial: 'addresses/form', locals:{ form: addr } %> <% end %>
    </div>
    <div class="grid lg:grid-cols-3 gap-6">
      <div class="field">
        <%= form.label :status %>
        <%= form.select :status, Invoice.statuses.keys %>
      </div>
      <div class="field">
        <%= form.label :payment_date %>
        <%= form.date_field :payment_date %>
      </div>
      <div class="field">
        <%= form.label :payment_term_id %>
        <%= form.collection_select(:payment_term_id, PaymentTerm.all, :id, :name, {prompt: true}) %>
      </div>
      <div class="field lg:col-span-3">
        <%= form.label :description %>
        <%= form.text_field :description %>
      </div>
    </div>
    <div id="invoice-lineitems" class="space-y-6">
      <h3 class="font-bold text-lg">Line Items</h3>
      <%= form.fields_for :line_items do |li| %>
        <%= render partial: 'line_items/form_fields', locals:{ form: li } %>
      <% end %>
      <div class="actions space-y-12">
        <button type="button" onClick="cloneLineItem();" class="btn btn-muted cursor-pointer w-full">Add Line Item</button>
        <div>
          <%= form.submit :class => 'btn btn-default cursor-pointer' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script>
  function updateLineItemTotal(e) {
    const parentLineItem = e.target.closest('.line-item-fields');
    const totalContainer = parentLineItem.querySelector('.total');
    const total = parentLineItem.querySelector('.quantity').value * 1 * parentLineItem.querySelector('.price').value * 1;
    totalContainer.innerText = `$${total.toFixed(2)}`;
  }
  
  function cloneLineItem(){
    let lineItemsContainer = document.querySelector('#invoice-lineitems');
    let lineItems = lineItemsContainer.querySelectorAll('.line-item-fields');
    let nextItemIndex = lineItems.length;
    let lastLineItem = lineItems[lineItems.length - 1];
    let newLineItem = lastLineItem.cloneNode(true);
  
    newLineItem.querySelectorAll('input').forEach((inputEl,index) => {
      let id = inputEl.getAttribute('id');
      let newId = id.replace((nextItemIndex -1), nextItemIndex);
      inputEl.setAttribute('id', newId);
  
      let name = inputEl.getAttribute('name');
      let newName = name.replace((nextItemIndex -1), nextItemIndex);
      inputEl.setAttribute('name', newName);
  
      if(inputEl.getAttribute('type') == 'number') {
        inputEl.value = 0;
      } else {
        inputEl.value = '';
      }
  
    });
  
    lineItemsContainer.insertBefore(newLineItem, lineItemsContainer.querySelector('.actions'));
  }
</script>
