<li class="grid items-center grid-cols-2 gap-6 text-sm font-bold lg:grid-cols-9">
  <div class="lg:col-span-4">
    <p class="capitalize"><%= line_item.name %></p>
    <p class="lg:hidden text-mj-purple-gray-3">
      <%= line_item.quantity %> x <%= number_to_currency(line_item.price) %>
    </p>
  </div>
  <div class="hidden text-center lg:block lg:col-span-1 text-mj-purple-gray-3">
    <p class="text-center">
      <%= line_item.quantity %>
    </p>
  </div>
  <div class="hidden text-right lg:col-span-2 lg:block text-mj-purple-gray-3">
    <p><%= number_to_currency(line_item.price) %></p>
  </div>
  <div class="text-right lg:col-span-2">
    <p><%= number_to_currency(line_item.total) %></p>
  </div>
</li>