<p id="notice"><%= notice %></p>

<h1>Invoices</h1>

<table>
  <thead>
    <tr>
      <th>Payment date</th>
      <th>Description</th>
      <th>Payment term</th>
      <th>Client name</th>
      <th>Client email</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody hx-push-url="true">
    <% @invoices.each do |invoice| %>
      <tr id='invoice-<%= invoice.id %>'>
        <td><%= invoice.payment_date %></td>
        <td><%= invoice.description %></td>
        <td><%= invoice.payment_term.name %></td>
        <td><%= invoice.client_name %></td>
        <td><%= invoice.client_email %></td>
        <td><%= invoice.status %></td>
        <td><%= number_to_currency(invoice.total) %></td>
        <td>
          <%= link_to 'Show', invoice,
            {
              'hx-get': invoice_path(invoice),
              'hx-target': '#form-box',
              'hx-swap': 'innerHTML'
            }
          %>
        </td>
        <td>
          <%= link_to 'Edit', edit_invoice_path(invoice), 
            {
              'hx-get': edit_invoice_path(invoice),
              'hx-target': '#form-box',
              'hx-swap': 'innerHTML'
            } 
          %>
        </td>
        <td><%= link_to 'Destroy', invoice, 
                { 
                  method: :delete,
                  'hx-confirm': 'Are you sure?',
                  'hx-delete': invoice_path(invoice),                  
                  'hx-swap': 'outerHTML',
                  'hx-target': "#invoice-#{ invoice.id }"
                }
            %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path,
  {
    'hx-get': new_invoice_path,
    'hx-target': '#form-box',
    'hx-swap': 'innerHTML'
  }
%>

<h3>Form Box</h3>
<div id="form-box"></div>