<div class="max-w-3xl mx-auto p-4 space-y-12">
  <p id="notice"><%= notice %></p>
  <div class="flex items-center justify-between mb-4">
    <div class="space-y-2">
      <h1 class="font-bold text-2xl">Invoices</h1>
      <p class="text-sm">There are <%= @invoices.length %> total invoices.</p>
    </div>
    <%= link_to(new_invoice_path, {
      'hx-get': new_invoice_path,
        'hx-target': '#form-box',
        'hx-swap': 'innerHTML',
        class: 'flex items-center p-2 pr-4 space-x-2 transition-colors duration-150 border-transparent rounded-full bg-purple-600 hover:bg-purple-700 lg:space-x-2',
        onclick: 'toggleContainer()',
  }) do %>
      <span class="inline-flex items-center justify-center w-8 h-8 bg-white rounded-full text-purple-600"><svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="w-4 h-4"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg></span>
      <span class="block mt-1 text-xs font-bold text-white">New <span class="hidden lg:inline">Invoice</span></span>
    <% end %>
  </div>
  <ul hx-push-url="true" class="space-y-4">
    <% @invoices.each do |invoice| %>
      <li id='invoice-<%= invoice.id %>' class="bg-white rounded-lg shadow-sm">
        <div>
          <%= link_to invoice, :class => 'flex items-center justify-between p-6 transition-colors duration-200 bg-white rounded shadow-sm md:space-x-6 hover:bg-gray-100' do %>
            <div class="grid w-full gap-1 md:gap-6 md:grid-cols-9 md:items-center">
              <p class="text-xs font-bold md:col-span-1 md:order-1"><span class="text-purple-500">#</span><%= invoice.id %>
              </p>
              <p class="hidden text-xs md:block md:col-span-4 md:order-3 font-medium">
                <%= invoice.client_name %>
              </p>
              <p class="mt-6 text-xs text-purple-700 md:mt-0 md:col-span-2 md:order-2 font-medium">
                <%= invoice.payment_date %>
              </p>
              <p class="font-bold md:col-span-2 md:text-right md:order-4">
                <%= number_to_currency(invoice.total) %>
              </p>
            </div>
            <div class="status-<%= invoice.status %> flex items-center rounded px-3 py-2 bg-opacity-25 space-x-2">
              <span class="w-2 h-2 bg-current rounded-full"></span>
              <span class="capitalize font-bold"><%= invoice.status %></span>
            </div>
            <svg class="w-6 h-6 text-purple-700" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
          <% end %>
        </div>
        <div class="hidden">
          <%= link_to 'Destroy', invoice, 
          { 
            method: :delete,
            'hx-confirm': 'Are you sure?',
            'hx-delete': invoice_path(invoice),                  
            'hx-swap': 'outerHTML',
            'hx-target': "#invoice-#{ invoice.id }"
          }
        %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<div class="side-pane fixed flex inset-0 transition-colors transform -translate-x-full w-screen">
  <div class="side-pane-content bg-white h-full w-full max-w-5xl shadow-lg space-y-12 p-12 lg:p-24 shadow-lg transform -translate-x-full duration-300 overflow-y-scroll lg:rounded-tr-3xl lg:rounded-br-3xl z-10">
    <div id="form-box"></div>
    <button onclick="toggleContainer()" class="btn btn-danger">Close</button>
  </div>
  <button  onclick="toggleContainer()" aria-hidden="true" class="h-screen w-screen fixed inset-0 bg-black bg-opacity-25 z-0"></button>
</div>
