<p id="notice"><%= notice %></p>

<p>
  <strong>Payment date:</strong>
  <%= @invoice.payment_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @invoice.description %>
</p>

<p>
  <strong>Payment term:</strong>
  <%= @invoice.payment_term.name %>:
  <i><%= @invoice.payment_term.description %></i>
</p>

<%= render partial: 'addresses/address', locals: {address: @invoice.sender_address} %>

<p>
  <strong>Client name:</strong>
  <%= @invoice.client_name %>
</p>

<p>
  <strong>Client email:</strong>
  <%= @invoice.client_email %>
</p>

<%= render partial: 'addresses/address', locals: {address: @invoice.client_address} %>

<p>
  <strong>Status:</strong>
  <%= @invoice.status %>
</p>

<% unless htmx_request? %>
  <%= link_to 'Edit', edit_invoice_path(@invoice) %> |
  <%= link_to 'Back', invoices_path %>
<% end %>