<div class="space-y-6 mx-auto w-full max-w-3xl ">

  <div class="pt-12 flex items-center justify-between">
    <%= link_to 'Back', invoices_path %>
    <%= render partial: 'invoices/invoice_actions' unless htmx_request? %>    
  </div>
  <div class="bg-white p-12 rounded-xl shadow space-y-6">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Payment date:</strong>
      <%= @invoice.payment_date %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @invoice.description %>
    </p>

    <p>
      <strong>Payment term:</strong>
      <%= @invoice.payment_term.name %>:
      <i><%= @invoice.payment_term.description %></i>
    </p>

    <%= render partial: 'addresses/address', locals: {address: @invoice.sender_address} %>

    <p>
      <strong>Client name:</strong>
      <%= @invoice.client_name %>
    </p>

    <p>
      <strong>Client email:</strong>
      <%= @invoice.client_email %>
    </p>

    <%= render partial: 'addresses/address', locals: {address: @invoice.client_address} %>

    <p>
      <strong>Status:</strong>
      <span id="invoice-status"><%= @invoice.status %></span>
    </p>
  </div>
</div>

<div class="side-pane fixed flex inset-0 transition-all transform-op-translate-x-full w-screen">
  <div class="side-pane-content bg-white h-full w-full max-w-5xl shadow-lg space-y-12 p-12 shadow-lg transform -translate-x-full duration-300 overflow-y-scroll rounded-tr-2xl rounded-br-2xl z-10">
    <div id="form-box"></div>
    <button class="toggle-side-pane">Close</button>
  </div>
  <button aria-hidden="true" class="h-screen w-screen fixed inset-0 bg-black bg-opacity-25 z-0 toggle-side-pane"></button>
</div>
<script>
htmx.onLoad(function (content) {
  const togglePaneButton = content.querySelectorAll('.toggle-side-pane')
  const sidePane = content.querySelector('.side-pane')
  const sidePaneContent = content.querySelector('.side-pane-content')
  togglePaneButton.forEach((button) => {
    button.addEventListener('click', () => {
      sidePane.classList.toggle('-translate-x-full')
      sidePane.classList.toggle('translate-x-0')
      sidePaneContent.classList.toggle('-translate-x-full')
      sidePaneContent.classList.toggle('translate-x-0')
    })
  })
})
</script>