<p>
  <strong>Type:</strong>
  <%= address.type %>
</p>

<p>
  <strong>Street:</strong>
  <%= address.street %>
</p>

<p>
  <strong>City:</strong>
  <%= address.city %>
</p>

<p>
  <strong>State:</strong>
  <%= address.state %>
</p>

<p>
  <strong>Post code:</strong>
  <%= address.post_code %>
</p>

<p>
  <strong>Country:</strong>
  <%= address.country %>
</p>
