<div class="field">
  <%= form.label :street %>
  <%= form.text_field :street %>
</div>

<div class="field">
  <%= form.label :city %>
  <%= form.text_field :city %>
</div>

<div class="field">
  <%= form.label :state %>
  <%= form.text_field :state %>
</div>

<div class="field">
  <%= form.label :post_code %>
  <%= form.text_field :post_code %>
</div>

<div class="field">
  <%= form.label :country %>
  <%= form.text_field :country %>
</div>