<div class="field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div class="field">
  <%= form.label :quantity %>
  <%= form.number_field :quantity %>
</div>

<div class="field">
  <%= form.label :price %>
  <%= form.number_field :price %>
</div>